<h1>Hunter's Cookbook</h1>

<ol>
  <% @cookbook.all.each do |recipe| %>
    <li>
      <a href= <%= "/cookbook/#{@cookbook.all.index(recipe)}" %> >
        <%= recipe.name %>: <%= recipe.description  %>
      </a>
    </li>
  <% end %>
</ol>

<div class="newRecipeForm">
<h2>Add a new recipe</h2>
  <form method="Post" action="/">
    <div class="form-group">
      <label for="recipeNameInput">Recipe Name</label>
      <input type="text" name="name" class="form-control" placeholder="Give me a name!">
    </div>
    <div class="form-group">
      <label for="recipeDescriptionInput">Description</label>
      <textarea class="form-control" name="description" rows="3" placeholder="Make me sound tasty!"></textarea>
    </div>
    <%# <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div> %>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
