<h1>My Cookbook</h1>

<ol>
  <% @cookbook.all.each do |recipe| %>
    <li>
      <a href= <%= "/cookbook/#{@cookbook.all.index(recipe)}" %> >
        <%= recipe.name %>: <%= recipe.description  %>
      </a>
    </li>
  <% end %>
</ol>
